---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Practice | Gurdjieff Foundation Colorado">

<section>
  <div class="container">
    <h1>Practice</h1>
    <p>Information about our practice</p>
  </div>
</section>

</BaseLayout>
