---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Resources | Gurdjieff Foundation Colorado">

<section>
  <div class="container">
    <h1>Resources</h1>
    <p>Information about Resources.</p>
  </div>
</section>

</BaseLayout>
