---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Teaching | Gurdjieff Foundation Colorado">

<section>
  <div class="container">
    <h1>Teaching</h1>
    <p>Information about Gurdjieff's teaching.</p>
  </div>
</section>

</BaseLayout>
